
# Supabase public project URL

NEXT_PUBLIC_SUPABASE_URL=https://kxecasrfhqhrfqpwixaj.supabase.co



# Supabase public anon key

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt4ZWNhc3JmaHFocmZxcHdpeGFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1NjM4NjMsImV4cCI6MjA5OTEzOTg2M30.7KfIQt-Qir80a7qPTho586MACX-yp9D26T4ZgxJD8jc



# Supabase service role key

# Server-side only. Never expose this in browser code.

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt4ZWNhc3JmaHFocmZxcHdpeGFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzU2Mzg2MywiZXhwIjoyMDk5MTM5ODYzfQ.6YHH64eZ3aYyhQqoX8AbqsZhhbLrj0vfmEtWHVamiUY

